<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/my-profile.ico" />
    <link rel="shortcut icon" href="/my-profile.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/Logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Lavina</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
